<%- include('./partials/header.ejs') %>

<body>

    <div class="head_navbar">
        <a href="/" style="text-decoration: none;"><h1 id="heading_1">Soul Blogs</h1></a>

        <%- include('./partials/navbar.ejs') %>
    </div>

    <hr id="hr-1">

    <div class="body-404">
        <dotlottie-wc id="animation-404" src="https://lottie.host/a7f77b2f-ac79-4ff0-9f86-150b74ec16ae/lcQyTcG6Ly.lottie" speed="1" autoplay loop></dotlottie-wc>
        <h1 id="errorcode-404">Oops! Page Not Found</h1>
        <a href="/" class="home-link">Go to Homepage</a>
    </div>

    
    <%- include('./partials/footer.ejs') %>
</body>
</html>