<%- include('./partials/header.ejs') %>

<body>
    <div class="head_navbar">
        <a href="/" style="text-decoration: none;"><h1 id="heading_1">Soul Blogs</h1></a>

        <%- include('./partials/navbar.ejs') %>
    </div>

    <hr id="hr-1">

    <h1 id="about">ABOUT</h1>

    <div class="about-body">
        <p id="about-p">Blog Writing is one of the most peaceful and close to relaxed work one might adopt. When one cannot express their feelings through talking, the paper hears them. 
        We welcome you to our site where you share your thoughts on anything. Yes, anything. The motive of the development of this site was to hear other people's thought on never ending topics. Sports, science, fiction, cooking, possibly anything that one can imagine of. 
        Soul Blogs has only one motive and that is to let people express their souls, what they are passionate about. Not everybody has a brain like Newton or an artistic hand like Da Vinci but everyone does have a soul and are capable of expressing it and that is what we are here for. 
        We invite people of all age, share their personal experiences or their insights on what they are passionate about. Soul Blogs is here for the voice of souls and ready to hear anything.
        </p>

        <dotlottie-wc id="about-animation" src="https://lottie.host/aecd9f4d-a477-455f-bbf7-b26ae5c54de2/1Cdy5INRxo.lottie" speed="1" autoplay loop></dotlottie-wc>

    </div>
    

    <%- include('./partials/footer.ejs') %>
</body>
</html>