<%- include('./partials/header.ejs') %>

<body>

    <div class="head_navbar">
        <a href="/" style="text-decoration: none;"><h1 id="heading_1">Soul Blogs</h1></a>

        <%- include('./partials/navbar.ejs') %>
    </div>

    <hr id="hr-1">


    <h1>Create a New Blog Post</h1>

    <%- include('./partials/footer.ejs') %>
</body>
</html>