<%- include('./partials/header.ejs') %>

<body>

    <div class="head_navbar">
        <a href="/" style="text-decoration: none;"><h1 id="heading_1">Soul Blogs</h1></a>

        <%- include('./partials/navbar.ejs') %>
    </div>

    <hr id="hr-1">


    <div class="create-blog">
        <form action="/blogs" method="POST">
            <label for="title">Blog Title:</label>
            <input type="text" id="title" name="title" required>
            <label for="snippet">Blog snippet:</label>
            <input type="text" id="snippet" name="snippet" required>
            <label for="body">Blog Body:</label>
            <textarea id="body" name="body" required></textarea>
            <button>Submit</button>
        </form>
        
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>