*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head_navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15vw 0 15vw;
    margin: 2em 2em 1em 2em;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style-type: none;
    gap: 3em;
    margin-bottom: 1em;
    font-size: 20px;
}

#heading_1{
    align-self: center;
    font-size: 4em;
    font-family: 'Felipa';
    color: coral;
}

#heading_1:hover{
    cursor: pointer;
}

li{
    width: 50px;
    height: 30px;
    font-size: 1.5rem;
}


.nav-a{
    text-decoration: none;
    color: #2196f3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-a:hover{
    text-decoration: underline;
    text-underline-position: below;
    text-underline-offset: 10px;
    transition-delay: 0.8s;
}

#hr-1{
    width: 88%;
}

.blogs_content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5%;
    gap: 0.5em;
}

#single{
    text-decoration: none;
    color: #2196f3;
}

.title:hover{
    color: #2196f3;
    font-size: 2.2em;
    transition: all 0.1s ease-in-out;
}

.title{
    font-size: 2em;
    font-family: 'Sansation';
    color: black;
    margin-block: 10px;
    text-transform: capitalize;
}

.snippet{
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5%;
    color: black;
}

#about{
    font-size: 4.8em;
    font-family: 'Oswald';
    font-weight: 600;
    color: black;
    margin-top: 2%;
}

#about-body{
    width: 72%;
}

.create-blog{
    width: 80vw;
    height: 70vh;
    margin-top: 4%;
    margin-bottom: 5%;
    display: flex;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
}

.create-head_snip{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 3em;
}

.create-body{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: beige;
    border-radius: 0 10px 10px 0;
    padding: 3em 3em 2em 3em;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
}

input{
    margin-bottom: 4em;
    font-size: 1em;
    height: 40px;
    width: 80%;
    padding: 0 1em 0 1em;
}

textarea{
    resize: none;
    margin-bottom: 2em;
    height: 72%;
    padding: 1em 1em 0 1em;
}

input:focus, textarea:focus{
    outline: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.19);
}

input, textarea{
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 8px;
}

label{
    font-size: 2em;
    font-family: 'Lexend';
    font-weight: 500;
    margin-bottom: 0.5em;
}

button{
    font-size: 1.2em;
    font-family: 'Nunito';
    color: white;
    font-weight: 600;
    width: 100%;
    height: 2em;
    align-self: center;
    border-radius: 8px;
    border: none;
    background-color: coral;
}

button:hover{
    cursor: pointer;
    background-color: #ee764a;
    transition: all 0.3s ease-in-out;
}

.details-content{
    margin-top: 5%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.details-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-header h2{
    font-size: 2.5em;
    font-family: Inter;
    color: black;
    text-transform: capitalize;
}

.content{
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    padding: 3% 3%;
    max-width: fit-content;
}

.delete{
    width: 80px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 2rem;
}

.delete:hover{
    border: 2px red solid;
    cursor: pointer;
}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 5vh;
    margin-top: 10%;
}
